@import "bulma";

.link {
  cursor: pointer;
}
.student-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-option {
  margin: 0.5rem 0;
  .button {
    min-width: 10rem;
  }

}